/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  /* Una fila para el contenido principal y otra para el footer */
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  flex: 1;
}

.footer {

  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  margin-top: 20px;
  font-family: Consolas, monaco, monospace;
  color: white;
}

.footer-content {
  align-content: center;
  text-align: center;
  margin-top: 3px;
}