/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
}


body {

  background-color: rgb(181, 227, 239);
}

.altTheme {

  background-color: rgb(181, 227, 239);
}

.theme-alternate {

  background-color: #393838;
}

.theme-alternate #title {
  color: white;
}

.footer {
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  margin-top: 20px;
  font-family: Consolas, monaco, monospace;
  color: white;
}

.footer-content {
  align-content: center;
  text-align: center;
  margin-top: 3px;
}